.billAmountInputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  .billAmountInput {
    background-color: var(--color-very-light-grayish-cyan);
    border-radius: 0.5rem;
    cursor: pointer;
    border: 2px solid var(--color-very-light-grayish-cyan);
    overflow: hidden;
    display: grid;
    grid-template-columns: 3.2rem minmax(0, min-content);
    align-items: center;

    .iconContainer {
      place-self: center;
    }

    &:is(:hover, [data-focus='true']) {
      border: 2px solid var(--color-strong-cyan);
    }

    //&[data-focus='true'] {
    //  border: 2px solid var(--color-strong-cyan);
    //}

    &[data-error='true'] {
      border: 2px solid var(--color-error);
    }

    .input {
      font-size: 24px;
      outline: none;
      background-color: inherit;
      height: 3rem;
      border: none;
      text-align: right;
      padding-right: 1rem;
      color: var(--color-very-dark-cyan);
      caret-color: var(--color-strong-cyan);
      cursor: pointer;

      &[type='number'] {
        -moz-appearance: textfield;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      &::placeholder {
        color: var(--color-grayish-cyan);
      }
    }
  }
}
