.home {
  background-color: var(--color-light-grayish-cyan);
  min-height: 100vh;
  display: grid;
  grid-template-rows: 144px 1fr;

  .calculatorContainer {
    background-color: var(--color-white);
    height: 100%;
    width: 375px;
    display: grid;
    grid-template-rows: 6.5rem repeat(3, auto);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 2rem;

    .billContainer {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }

    .numberOfPeopleContainer {
    }

    .resultContainer {
    }
  }
}
